<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Danh sách sản phẩm</title>
</head>
<body>
    <h1>Danh sách sản phẩm</h1>
    <table border="1">
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Danh mục</th>
            <th>Tên Sản Phẩm</th>
            <th>Chi Tiết</th>
            <th>Số Lượng</th>
            <th>Ghi Chú</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.code}}</td>
            <td>{{this.category_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.detail}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.note}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>